<article class="post">
	<p class="post-title">
		{{title}}
	</p>
	<p class="post-author">
		<b>Posted By:</b> <a href="#">{{author}}</a>
	</p>
	<p class="post-category">
		<b>Category:</b> {{category}}
	</p>
	<p class="post-date">
		<b>Post Date:</b> {{date}}
	</p>
	<p class="post-location">
		<b>Location:</b> {{location}}
	</p>
	<p class="post-price">
		<b>Price:</b> {{price}}
	</p>
	<p class="post-phone">
		<b>Phone:</b> {{phone}}
	</p>
	<p class="post-email">
		<b>E-mail:</b> {{email}}
	</p>
	<br>
	<p class="post-body">
		{{body}}
	<p>
	<br>
	<p><b>Images:</b></p>
	<div class="img-container">
		<a href="{{{image1}}}" target="_blank"><img src="{{{image1}}}"></a>
	</div>
	<div class="img-container">
		<a href="{{{image2}}}" target="_blank"><img src="{{{image2}}}"></a>
	</div>
	<div class="img-container">
		<a href="{{{image3}}}" target="_blank"><img src="{{{image3}}}"></a>
	</div>
</article>