<article class="post-thumbnail">
	<p class="post-thumb-title">
		<a href="/posts/{{{index}}}">{{title}}</a>
	</p>
	<p class="post-thumb-category">
		{{category}}
	</p>
	<p class="post-thumb-date">
		{{date}}
	</p>
	<p class="post-thumb-price">
		{{price}}
	</p>
</article>
